<h1>PROFILE</h1>
<form action="/api/users/logout" method="post">
  <button type="submit" value="LOGOUT">Cerrar Sesion</button>
</form>

<script>
    alert("Bienvenido {{userData.firstname}}");
</script>